body{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;  
    height: 100vh;
    margin: 0%;
    
}
.content, .content2, .content3, .content4{
    padding: 5% 0px;  
}
.header, .content{
    margin-left: 20%;
    margin-right: 20%;  
}
.header{
    display: flex;
    align-items: center;

}

.header ul{
    flex: 0 1 500px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    margin-left: auto;
    flex-wrap: wrap;
}

.header a{
    text-decoration: none;
    color: white;
}


.content{
    flex: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.content .text1{
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text1 h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0px;
}

.content a{
    color:white;
    text-decoration: none;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px 40px;
}

.content img{
    width: 500px;
    flex: 0 1 auto;
    margin-left: auto;

}

.content2{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
}


.content2 .photos{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.content2 .im{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content2 img{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    border: #3882F6 solid 5px;
}
.content3{
    background: #E5E7EB;
    color: #1F2937;
    padding: 5% 0;
}
.content3 p{
    font-style: italic;
    font-size: 26px;
    margin: 0;;
}
.content3 .quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  0px 25%;

}
.content3 .author{
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    margin-left: auto;
}

.content4{
    background: white;
    color: white;
    padding: 5% 0;
    display: flex;
    justify-content: center;
}
.content4 .blue{
    background: #3882F6;
    display: flex;
    width: 45rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 6rem;
    border-radius: 10px;
}
.content4 p , h3{
    margin: 0.5rem;
}
.content4 a{
    color: white; 
    text-decoration: none;
    background: #3882F6;
    border-style: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem 2rem;
}

.footer{
    background-color: white;
    display: flex;
    color: #1F2937;
    justify-content: center;
}
